{%extends 'base_d.html'%}{%block content%}
<div id="wrapper">

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">

            <div class="container-fluid pt-3" style="overflow: auto;background: #F4F5FF;opacity: 1;filter: brightness(102%);">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0 fw-bold" style="--bs-body-font-weight: normal;font-size: 2.1rem;">Customer Profile</h3>
                </div>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xl-5"></div>
                    <div class="col-xl-3 offset-xl-4" style="margin-bottom: 20px;">
                        <div><a class="btn btn-primary fs-6 text-center d-inline-flex flex-row justify-content-between align-items-center" role="button" href="#myModal" data-bs-toggle="modal" style="margin-bottom: 20px;background: #446AD8;">Add New Customer</a>
                            <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Add Customer</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="background: #F4F5FF;">
                                            <div class="col-md-8 offset-md-2 offset-xxl-2">
                                                {%include 'crudmain/create_crud.html' %}
                                            </div>
                                        </div>
                                        <!--                                         <div class="modal-footer"><button class="btn btn-primary" type="submit">Save</button></div>--></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="table-responsive text-center d-flex flex-row justify-content-center align-items-center align-content-center align-self-center mt-auto rounded-2 shadow-sm" style="background: #fff;">
                    <table class="table">
                        <thead>
                            <tr class="text-light" style="background: #4072C9;">
                                <th>Customer Name</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in customers_crud %}
                            <tr>

                                <td>{{i.CustomersName}}</td>
                                <td>{{i.ContactNumber}}</td>
                                <td>{{i.CustomersEmail}}</td>
                                <td>{{i.CustomersAdd}}&nbsp;</td>
                                <td><button class="btn btn-primary text-center bg-dark shadow-sm" data-bss-hover-animate="pulse" type="button">Edit</button></td>
                                <tr>
                                </tr>

                                {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div></div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top" style="background: rgb(78,115,223);"><i class="fas fa-angle-up"></i></a>
</div>
{%endblock%}