{%extends 'base_d.html'%}{%block content%}
<div id="wrapper">

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">

            <div class="container-fluid pt-3" style="overflow: auto;background: #F4F5FF;opacity: 1;filter: brightness(102%);">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0 fw-bold" style="--bs-body-font-weight: normal;font-size: 2.1rem;">Customer Profile</h3>
                </div>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xl-5"></div>
                    <div class="col-xl-3 offset-xl-4" style="margin-bottom: 20px;">
                        <div><a class="btn btn-primary fs-6 text-center d-inline-flex flex-row justify-content-between align-items-center" role="button" href="#myModal" data-bs-toggle="modal" style="margin-bottom: 20px;background: #446AD8;">Add New Customer</a>
                            <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Add Customer</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="background: #F4F5FF;">
                                            <div class="col-md-8 offset-md-2 offset-xxl-2">
                                                <form class="custom-form" method="POST">
                                                    <div class="row form-group" style="margin-bottom: 5px;">
                                                        <div class="col-sm-4 col-lg-6 text-center label-column"></div>
                                                        <div class="col-sm-6 col-lg-12 input-column">
                                                            <input class="form-control form-floating" type="text" placeholder="Customers Name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;background: #fff;"></div>
                                                    </div>
                                                    <div class="row form-group" style="margin-bottom: 5px;">
                                                        <div class="col-sm-6 col-lg-12 input-column">
                                                            <input class="form-control" type="number" placeholder="Contact Number" inputmode="latin-name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;"></div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-sm-4 label-column"></div>
                                                        <div class="col-sm-6 col-lg-12 input-column">
                                                            <input class="form-control" type="email" inputmode="latin-name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;" name="email" placeholder="Email">
                                                            <input class="form-control form-floating" type="text" inputmode="latin-name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;" name="address" placeholder="Address"></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer"><button class="btn btn-primary" type="submit">Save</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="table-responsive text-center d-flex flex-row justify-content-center align-items-center align-content-center align-self-center mt-auto rounded-2 shadow-sm" style="background: #fff;">
                    <table class="table">
                        <thead>
                            <tr class="text-light" style="background: #4072C9;">
                                <th>Customer Name</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in NewList %}
                            <tr>

                                <td>{{i.name}}</td>
                                <td>{{i.contact}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.address}}&nbsp;</td>
                                <td><button class="btn btn-primary text-center bg-dark shadow-sm" data-bss-hover-animate="pulse" type="button">Edit</button></td>
                                <tr>
                                </tr>

                                {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div></div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top" style="background: rgb(78,115,223);"><i class="fas fa-angle-up"></i></a>
</div>
{%endblock%}