<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>
        <div class="container d-flex mt-5 text-center">
            <form method="POST">
                {% csrf_token %}{{form.as_p}}
                <!-- <div class="form-floating mb-2 ">
            <input name="CustomersName" type="text" class="form-control fs-6 " id="floatingInput" placeholder="CustomersName" value="">
            <label for="floatingInput ">Customers Name </label>
        </div>
        <div class="form-floating mb-2 ">
            <input name="ContactNumber " type="number " class="form-control fs-6 " id="floatingNumber" placeholder="Contact ">
            <label for="floatingNumber ">Contact Number</label>
        </div>
        <div div class="form-floating mb-2 ">
            <input name="CustomersEmail " type="email" class="form-control fs-6 " id="floatingEmail " placeholder="Email ">
            <label for="floatingEmail ">Email</label>
        </div>
        <div class="form-floating ">
            <input name="CustomersAdd " type="text" class="form-control fs-6 " id="floatingAdd " placeholder="Address ">
            <label for="floatingAdd ">Address</label>
        </div>
    
        </div> -->
                <div class="modal-footer ">
                    <button type="button " class="btn btn-secondary " data-bs-dismiss="modal ">Close</button>
                    <button type="submit " class="btn btn-primary " value="submit ">Save changes</button>
                </div>


            </form>

        </div>

    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>

</html>