body {
  height: 100%;
  width: 100%;
  background: #eee;
}

.main {
  width: 90%;
  background: #fff;
  padding: 0;
  margin: 50px auto;
  min-height: 80vh;
  box-shadow: 0 1px 3px #212121;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.itemDrawer {
  width: 70%;
  min-height: 80vh;
  margin: 0;
  padding: 5px;
  background-color: #fff;
}

.billing {
  width: 30%;
  padding: 10px;
  margin: 0;
  background: #212121;
  box-shadow: -1px 2px 3px #212121;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.row1 {
  width: 100%;
  height: 15%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.row2 {
  width: 100%;
  height: 10%;
  padding: 5px;
}

.row3 {
  width: 100%;
  height: 75%;
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
  overflow: auto;
}

.searchGroup {
  margin-top: 20px;
}

.logoPOS {
  height: 70%;
  width: 50%;
}

.row2 .btn-group {
  display: flex;
  justify-content: center;
}

.row2 .btn-group label {
  border-radius: 15px;
  margin: 0 5px;
  background: #eee;
  border: 0;
  box-shadow: 0 1px 2px #212121;
  color: #121212;
  font-size: 9pt;
}

.row3 div {
  box-shadow: 0 1px 2px #212121;
  height: 180px;
  border-radius: 5px;
  background-color: #E8F9FD;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.6s;
}

.row3 div:hover, .row3 div:focus {
  background: #0D4C92;
  color: #eee;
  opacity: 0.9;
}

.row1 input {
  outline: 0;
  border: 0;
  background-color: #eee;
  box-shadow: 1px 1px 1px #212121;
  border-radius: 5px;
  padding: 5px 15px;
}

.row1 button {
  padding: 4px 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 1px #212121;
  background-color: #0D4C92;
  color: #fff;
  font-weight: bold;
}

.billing div {
  padding: 10px;
}

.billing .header h3 {
  font-size: 13pt;
  color: white;
  text-align: center;
}

.row4 {
  height: 25%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.row5 {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.row5 div {
  display: flex;
  justify-content: space-between;
}

.row6 {
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
}

.row6 div {
  background-color: #DFF6FF;
  border-radius: 15px;
  height: 30%;
  transition: all 0.5s;
  cursor: pointer;
}

.row6 div:hover {
  background-color: #1363DF;
  color: #DFF6FF;
}

.row6 div h3 {
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
}

.row7 {
  height: 15%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.row7 button {
  width: 45%;
  height: 60%;
  font-size: 12pt;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 1px 2px #212121;
}

.row3 h5, h6 {
  font-size: 10pt;
}

.row3 img {
  height: 60%;
  width: 90%;
  box-shadow: 0 0 2px #393E46;
  background-color: #212121;
}

.button {
  position: relative;
  display: inline-block;
  padding: 0 16px;
  background-color: #212121;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  z-index: 1;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.button:hover, .button:focus {
  opacity: .9;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .5;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.ripple:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: currentColor;
  visibility: hidden;
  z-index: 2;
}

.ripple:not(:active):before {
  -webkit-animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
  animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .4s step-end;
  transition: visibility .4s step-end;
}

.ripple:active:before {
  visibility: visible;
}

#proceed {
  color: #fff;
  background-color: #1363DF;
}

.cancel {
  font-weight: bold;
  color: #212121;
}

.row4 div {
  background-color: #DFF6FF;
  box-shadow: 0 1px 2px #212121;
  height: 60%;
  text-align: left;
  padding-left: 30px;
  border-radius: 10px;
  border-left: 5px solid #1363DF;
}

.unselectItem {
  float: right;
  position: relative;
  bottom: 15px;
  left: 15px;
  background-color: antiquewhite;
  padding: 2px 8px;
  font-size: 8pt;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 1px 2px #212121;
}

.qtt {
  font-size: 7pt;
  color: grey;
}

.price {
  font-size: 8pt;
}

.pm h3 {
  font-size: 12pt;
}

.btn-rep {
}

