<div class="container-fluid" style="margin-top: 20px;">
    <div class="table-responsive-sm text-center d-flex flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center shadow-sm rounded-2" style="background: #ffff;position: static;">
        <table class="table table-hover table-borderless rounded-2">
            <thead class="rounded-2 ">
                <tr>
                    <th class="text-bg-primary" style="background: #4072C9;">Item Name</th>
                    <th class="text-bg-primary" style="background: #4072C9;">Size</th>
                    <th class="text-bg-primary" style="background: #4072C9;">Category</th>
                    <th class="text-bg-primary" style="background: #4072C9;">Price</th>
                    <th class="text-bg-primary" style="background: #4072C9;">Stock</th>
                    <th class="text-bg-primary" style="background: #4072C9;">Deletd Time</th>
                    <th class="text-bg-primary" style="background: #4072C9;">Action</th>



                </tr>
            </thead>
            <tbody>

                {% for i in display %}

                <tr>
                    <td class="text-dark">{{i.ItemName}}</td>
                    <td class="text-dark">{{i.Size}}</td>
                    <td class="text-dark">{{i.Category}}</td>
                    <td class="text-dark">{{i.Price}}</td>
                    <td class="text-dark">{{i.Stock}}</td>
                    <td class="text-dark">{{i.Delete_at}}</td>
                    <td class="text-dark">
                        <a href="">Delete</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>