 {% extends 'maintemp/base_d.html' %} {%block content%}
<div id="wrapper">

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">

            <div class="container-fluid pt-3" style="overflow: auto;background: #F4F5FF;opacity: 1;filter: brightness(102%);">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0 fw-bold" style="--bs-body-font-weight: normal;font-size: 2.1rem;">Product Management</h3>
                </div>
            </div>
            <div class="container" style="margin-bottom: 10px;margin-top: -10px;">
                <div class="float-start float-md-end mt-5 mt-md-0 search-area"></div>
                <div class="row">
                    <div class="col-xl-4 offset-xl-3" style="height: 50px;">
                        <form class="search-form">
                            <div class="input-group" style="background: #eee;"><span class="input-group-text"><i class="fa fa-search"></i></span><input class="form-control" type="text" placeholder="I am looking for.." style="font-size: 17px;"><button class="btn btn-light link-primary rounded-2 shadow-sm"
                                    type="button" style="border-color: var(--bs-btn-border-color);margin-left: 3px;">Search </button></div>
                        </form>
                    </div>
                    <div class="col-xl-3 d-flex justify-content-center">
                        <div class="d-flex flex-row flex-shrink-1">
                            <a class="btn btn-primary d-inline-flex flex-row justify-content-center align-items-center flex-wrap mb-auto shadow-sm" role="button" data-bss-hover-animate="pulse" href="#myModal" data-bs-toggle="modal" style="margin-top: 40px;"><i class="fas fa-plus-circle edit-icon"></i>&nbsp;New</a>
                            <a class="btn btn-primary d-inline-flex flex-row justify-content-center align-items-center flex-wrap mb-auto" role="button" href="#myModal-1" data-bs-toggle="modal" style="text-align: center;margin-top: 40px;margin-left: 10px;"><i class="fas fa-plus-circle edit-icon"></i>&nbsp;Add stock</a>
                            <div>
                                <div class="modal fade" role="dialog" tabindex="-1" id="myModal-1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4>Add Stock</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-8 offset-md-2 offset-xxl-2">

                                                </div>
                                                <div class="row form-group" style="margin-bottom: 5px;">
                                                    <div class="col-sm-4 col-lg-6 text-center label-column"></div>
                                                    <div class="col-sm-6 col-lg-12 input-column"><input type="text" placeholder="Enter stocks to be added" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;margin-left: 70px;"></div>
                                                </div>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Add Item</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body w-100">

                                            <form action="">
                                                <div class="form-floating mb-2 ">
                                                    <input name="CustomersName" type="text" class="form-control fs-6 " id="floatingInput" placeholder="Item Name ">
                                                    <label for="floatingInput">Item Name </label>
                                                </div>
                                                <div class="form-floating mb-2">
                                                    <input name="" type="text" class="form-control fs-6 " id="size" placeholder="Size">
                                                    <label for="size">Size</label>
                                                </div>
                                                <div class="form-floating mb-2">
                                                    <input name="" type="" class="form-control fs-6 " id="floatingEmail" placeholder="Email">
                                                    <label for="floatingEmail">Email </label>
                                                </div>
                                                <div class="form-floating">
                                                    <input name="CustomersAdd" type="text" class="form-control fs-6" id="floatingAdd" placeholder="Address">
                                                    <label for="floatingAdd">Address</label>
                                                </div>

                                                <select name="combo" id="combo" class="mt-2 p-2">
                                                    <option value="">Category</option> 
                                                    <option value="combo1">Porcelain Tile</option>
                                                    <option value="combo2">Ceramic Tile</option>
                                                    <option value="combo3">Skimcoat</option>
                                                    <option value="comboBlank">Sanitary ware</option>
                                                    <option value="comboBlank">Adhesive</option>
                                                    <input type="text" name="" id="inputfield" class="ms-2 p-2" style="width:310px;" readonly>
                                                  </select>


                                            </form>
                                        </div>
                                        <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="w-100"></div>
                </div>
            </div>
            <div class="container-fluid" style="margin-top: 20px;">
                <div class="table-responsive-sm text-center d-flex flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center shadow-sm rounded-2" style="background: #ffff;position: static;">
                    <table class="table table-hover table-borderless rounded-2">
                        <thead class="rounded-2 ">
                            <tr>
                                <th class="text-bg-primary" style="background: #4072C9;">Item Name</th>
                                <th class="text-bg-primary" style="background: #4072C9;">Size</th>
                                <th class="text-bg-primary" style="background: #4072C9;">Category</th>
                                <th class="text-bg-primary" style="background: #4072C9;">Price</th>
                                <th class="text-bg-primary" style="background: #4072C9;">Stock</th>
                                <th class="text-center text-bg-primary" style="background: #4045b0;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-dark">Mariwasa B &amp; W Marble</td>
                                <td class="text-dark">20 X 20</td>
                                <td class="text-dark">Porcelain Tile</td>
                                <td class="text-dark">215.00</td>
                                <td class="text-dark">500</td>
                                <td><button class="btn btn-primary btn-sm text-bg-dark me-auto" data-bss-hover-animate="pulse" type="button" style="background: #4DC274;margin-bottom: 5px;">Edit</button><button class="btn btn-primary btn-sm text-bg-danger ms-2"
                                        data-bss-hover-animate="pulse" type="button" style="margin-bottom: 5px;">Archive</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top" style="background: rgb(78,115,223);"><i class="fas fa-angle-up"></i></a>
</div>

{% endblock content %}