{%extends 'maintemp/base_d.html' %}{% block content%}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid pt-3" style="overflow: auto;background: #F4F5FF;opacity: 1;filter: brightness(102%);">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0 fw-bold" style="--bs-body-font-weight: normal;font-size: 2.1rem;">User Management</h3>
                </div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col offset-xl-6 py-4">
                    <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                        <div><a class="btn btn-primary" role="button" href="#myModal" data-bs-toggle="modal"><i class="fas fa-plus-circle edit-icon"></i>&nbsp;Add another User</a>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Usertype</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center" style="width: 500px;">
                                        <button class="btn btn-primary ms-2" data-bss-hover-animate="pulse" data-bs-target="#admin" data-bs-toggle="modal">Admin</button>
                                        <button class="btn btn-dark ms-2" data-bss-hover-animate="pulse" data-bs-target="#staff" data-bs-toggle="modal">Cashier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second modal-->
            <div class="modal fade" id="admin" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Add Admin</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#myModal" data-bs-toggle="modal">Back to first</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- end of second modal -->

            <!-- start staff modal -->
            <div class="modal fade" id="staff" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Add Staff</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Hide this modal and show the first with the button below.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#myModal" data-bs-toggle="modal">Back to first</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end staff modal  -->
            <div class="container">
                <div class="table-responsive text-center text-dark text-bg-light rounded-2 shadow-sm" style="background: #eeeeee;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-light" style="background: #4072C9;">Name</th>
                                <th class="text-light" style="background: #4072C9;">Username</th>
                                <th class="text-light" style="background: #4072C9;">Password</th>
                                <th class="text-light" style="background: #4072C9;">User Type</th>
                                <th class="text-light" style="background: #4072C9;">Status&nbsp;</th>
                                <th class="text-light" style="background: #4072C9;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Doe&nbsp;</td>
                                <td>johndoe123</td>
                                <td>******</td>
                                <td>Admin&nbsp;</td>
                                <td>Active&nbsp;</td>
                                <td><button class="btn btn-dark" data-bss-hover-animate="pulse" type="button">Edit</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top" style="background: rgb(78,115,223);"><i class="fas fa-angle-up"></i></a>
</div> {% endblock content%}