 {% extends 'maintemp/base_d.html' %}
 {%block content%}
<div id="wrapper">
<style>
    errorlist li  {
        color: #f00;
    }
    .mess{
        margin: auto;
        position: absolute;
        z-index: 1;
        width: 45%;
        left:35%;
        margin-top: 10px;
    }.mess > p {
        text-align: center;
    }
</style>
      

    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            {% for m in messages %}

            {% if m.tags == 'warning' %}
            <div class="mess container-fluid p-0 pt-1 alert-dismissible bg-danger rounded-2" role="alert" data-aos="fade-left" data-aos-delay ="300" data-aos-anchor-placement = "top-bottom"  id="alert">
                <p class=" text-light fs-5">{{ m }}</p>      
              </div>    
              {% elif m.tags == 'success' %}
              <div class="mess container-flui p-0 alert alert-dismissible bg-success rounded-2" role="alert" data-aos="fade-left" data-aos-delay ="300" data-aos-anchor-placement = "top-bottom" id="alert">
                <p class=" fs-5 text-light font-md">{{m}}</p>
              </div>
            {% endif %}   
            {% endfor %}
            <div class="container-fluid pt-3" style="overflow: auto;background: #F4F5FF;opacity: 1;filter: brightness(102%);">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0 fw-bold" style="--bs-body-font-weight: normal;font-size: 2.1rem;">Product Management</h3>
                </div>
            </div>

            <div class="container" style="margin-bottom: 10px;margin-top: -10px;">
                <div class="float-start float-md-end mt-5 mt-md-0 search-area"></div>
                <div class="row">
                    <div class="col-xl-4 offset-xl-3" style="height: 50px;">
                        <form class="search-form" method="POST" id="search-form">
                           {% csrf_token %}
                              <div class="input-group">
                                <span class="input-group-text "><i class="fa fa-search "></i></span>
                                <input type="search" class="search-hover" name="searchProd" placeholder="search here..."  id="search-input" />
                                 </div>
                        </form>
                    </div>
                    <div class="col-l-2 d-flex justify-content-center ">
                        <div class="d-flex flex-row flex-shrink-1 ">
                            <a class="btn btn-primary d-inline-flex flex-row justify-content-center align-items-center flex-wrap mb-auto shadow-sm " role="button" data-bss-hover-animate="pulse" href="#addModal" data-bs-toggle="modal" style="margin-top:40px; "><i class="fas fa-plus-circle edit-icon "></i>&nbsp;New</a>
                            <a class="btn btn-danger d-inline-flex flex-row justify-content-center align-items-center flex-wrap mb-auto" role="button" href="#archive" data-bs-toggle="modal" style="text-align: center;margin-top: 40px;margin-left: 10px; "><i class="fas fa-archive"></i> <span class="ms-1 ">Archived Item</span> </a>

                            <div>


                            </div>
                            <!-- ========== Start new item ========== -->
                            <div class="modal fade"  data-bs-backdrop="static" role="dialog" tabindex="-1" id="addModal" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Add Item</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body w-100">

                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                             {{all_products.as_p}}
                                             
                                                <div class="modal-footer "><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                                                    <button class="btn btn-primary" type="submit">Add</button></div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- ========== End new item ========== -->


                            <!-- ========== Start Archive ========== -->
                            <div class="modal fade " data-bs-backdrop="static"role="dialog" tabindex="-1" id="archiveModal ">
                                <div class="modal-dialog modal-lg " role="document">
                                    <div class="modal-content ">
                                        <div class="modal-header ">
                                            <h4>Archived Items</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                                        
                                        </div>
                                        <div class="modal-footer "><button class="btn btn-light " type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary " type="button">Save</button></div>
                                    </div>
                                </div>
                            </div>

                            <!-- ========== End Archive ========== -->


                        </div>
                    </div>
                    <div class="w-100 "></div>
                    <div class="w-100 "></div>
                </div>
            </div>
            <div class="container-fluid " style="margin-top: 20px; "  id="search-results">
                <div class="table-responsive-sm text-center d-flex flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center shadow-sm rounded-2 " style="background: #ffff;position: static; ">
                    <table class="table table-hover table-borderless rounded-2 " >
                        <thead class="rounded-2 ">
                            <tr>
                                <th class="text-bg-primary" style="background: #4072C9; ">Item Name</th>
                                <th class="text-bg-primary" style="background: #4072C9; ">Brand</th>
                                <th class="text-bg-primary" style="background: #4072C9; ">Size</th>
                                <th class="text-bg-primary" style="background: #4072C9; ">Category</th>
                                <th class="text-bg-primary" style="background: #4072C9; ">Price</th>
                                <th class="text-bg-primary" style="background: #4072C9; ">Current Stock</th>
                                <th class="text-bg-primary" style="background: #4072C9; "> Max Stock</th>
                                <th class="text-bg-primary" style="background: #4072C9; "> Status</th>
                                <th class="text-center text-bg-primary " style="background: #4045b0; ">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for i in display_product %}

                            <tr>
                                <td class="text-dark ">{{i.ItemName}}</td>
                                <td class="text-dark ">{{i.Brand}}</td>
                                <td class="text-dark ">{{i.Sizes}}</td>
                                <td class="text-dark ">{{i.Category}}</td>
                                <td class="text-dark ">{{i.Price}}</td>
                                <td class="text-dark ">{{i.Current_Stock}}</td>
                                <td class="text-dark ">{{i.Max_Stock}}</td>
                                <td class="text-dark ">{{i.Status}}</td>

                                <td>
                                    <a href="{% url 'product_edit' i.pk %} " class="btn btn-outline-primary " data-bss-hover-animate="pulse " type="button "><i class="fas fa-edit "></i> Edit</a>
                                    <a href="{% url 'add_stock' i.pk%} " class="btn btn-outline-primary " data-bss-hover-animate="pulse " type="button "><i class="fas fa-edit "></i>Add stock</a>
                                    <a href="{% url 'product_del' i.pk %} " class="btn btn-outline-danger " data-bss-hover-animate="pulse " type="button "><i class="fas fa-archive "></i>  Delete</a>
                                </td>
                                {% empty %}
                                <p>no resutls</p>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div><a class="border rounded d-inline scroll-to-top " href="#page-top " style="background: rgb(78,115,223); "><i class="fas fa-angle-up "></i></a>




</div>
<div class="modal fade" id="archive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Archived Items</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="container-fluid" style="margin-top: 20px;">
                    <div class="table-responsive-sm text-center d-flex flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center shadow-sm rounded-2" style="background: #ffff;position: static;">
                        <table class="table table-hover table-borderless rounded-2">
                            <thead class="rounded-2 ">
                                <tr>
                                    <th class="text-bg-primary" style="background: #4072C9;">Item Name</th>
                                    <th class="text-bg-primary" style="background: #4072C9;">Size</th>
                                    <th class="text-bg-primary" style="background: #4072C9;">Category</th>
                                    <th class="text-bg-primary" style="background: #4072C9;">Price</th>
                                    <th class="text-bg-primary" style="background: #4072C9;">Stock</th>
                                    <th class="text-bg-primary" style="background: #4072C9;">Deletd Time</th>
                                    <th class="text-bg-primary" style="background: #4072C9;">Action</th>



                                </tr>
                            </thead>
                            <tbody>

                                {% for d in archive %}

                                <tr>
                                    <td class="text-dark">{{d.ItemName}}</td>
                                    <td class="text-dark">{{d.Size}}</td>
                                    <td class="text-dark">{{d.Category}}</td>
                                    <td class="text-dark">{{d.Price}}</td>
                                    <td class="text-dark">{{d.Current_Stock}}</td>
                                    <td class="text-dark">{{d.Delete_at}}</td>
                                    <td class="text-dark">
                                        <a href="">Delete</a>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function() {
    var duration = 3000; //3 seconds
    setTimeout(function () {
         $('#alert').hide(); }, duration);        
};
</script>
{% endblock content %}