{% extends 'CrudBase.html' %} {% block title %}
<title>Create</title>
{% endblock title %} {% block content %}
<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Add New Customers Information</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="Customersname" id="" placeholder="Customers Name">
    <input type="number" name="Customersnumber" id="" placeholder="Customers Number">
    <input type="email" name="Email" id="" placeholder="Email">
    <input type="text" name="Add" id="" placeholder="Address">


    <input type="submit" class="btn btn-success">
</form>
{% endblock content %}