 {% extends 'guesttemp/base.html' %} {%load static %}{% block productcat%}
<link rel="stylesheet" href="{% static 'assets/css/card.css' %}">
<div class="row pb-5 mb-2 ">

    <div class="card-animation-cont">
        <!-- Duplicate the following div to add cards -->
        {% for adhesive in posts %}
        <div class="card ">
            <img src="{{adhesive.Image.url}}" alt="" />
            <div class="info">
                <strong>{{adhesive.Itemname}}</strong>
                <span class="sub-title">Category: {{adhesive.Category}}</span>
                <hr/>
                <div class="hide-info">
                    <span class="text">
             <p>Size: {{adhesive.Size}}</p>
              </span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>{% endblock %}
