{% extends 'guesttemp/base.html' %} {% block content %}

<!-- ========== Start Banner ========== -->
<section>
    <div>
        <div id="box-2" data->
            <h1 class="display-1 text-white" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300" id="heading-1" style="margin-top: 20%;text-shadow:burlywood 4px 1px 5px">DUNMARK TILESHOP</h1>
            <h1 class="display-1" data-aos="fade" data-aos-duration="1300" data-aos-delay="600" id="heading1" style="font-size: 30px; text-shadow: burlywood 1px 2px 3px ">Your Neighborhood Store</h1>
        </div>
    </div>
</section>

<!-- ========== End Banner ========== -->
{% endblock content %}