{% extends 'guesttemp/base.html' %} {% block content%}
<header class="shadow-sm bg-primary-gradient" data-aos="zoom-out" id="home">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="caption v-middle text-center">
                <h4 class="cd-headline clip fs-3">
                    <span class="blc">Hello! |</span>
                    <span class="cd-words-wrapper">
                      <b class="is-visible">Guest.</b>
                                  <b>We're happy to have you.</b>
                    </span>
                </h4>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div data-aos="fade-right" data-aos-duration="300" data-aos-delay="200" class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.50" src="https://images.pexels.com/photos/13277522/pexels-photo-13277522.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" loading="eager"></div>
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-10%, 20%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4" src="https://images.pexels.com/photos/6373486/pexels-photo-6373486.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" loading="eager" style="width: 400px;"></div>
                    <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"><img class="img-fluid shadow-sm" data-bss-parallax="" data-bss-parallax-speed="0.1" src="https://images.pexels.com/photos/4725140/pexels-photo-4725140.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" height="500px"
                            loading="eager" style="height: 500px;width: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}