
{%extends 'maintemp/base_d.html' %}{% block content%}
{% load widget_tweaks %}
<style>
    .mess{
        margin: auto;
        position: absolute;
        z-index: 1;
        width: 45%;
        left:35%;
        margin-top: 10px;
    }.mess > p {
        text-align: center;
    }
   
</style>

{% for m in messages %}

{% if m.tags == 'info' %}
<div class="mess container-fluid p-0 pt-1 alert-dismissible bg-danger rounded-2" role="alert" data-aos="fade-left" data-aos-delay ="300" data-aos-anchor-placement = "top-bottom"  id="alert">
    <p class=" text-light fs-5">{{ m }}</p>      
  </div>    
  {% elif m.tags == 'success' %}
  <div class="mess container-flui p-0 alert alert-dismissible bg-success rounded-2" role="alert" data-aos="fade-left" data-aos-delay ="300" data-aos-anchor-placement = "top-bottom" id="alert">
    <p class=" fs-5 text-light font-md">{{m}}</p>
  </div>
{% endif %}   
{% endfor %}
    
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid pt-3" style="overflow: auto;background: #F4F5FF;opacity: 1;filter: brightness(102%);">
                <div class="d-sm-flex justify-content-between align-items-center mb-4">
                    <h3 class="text-dark mb-0 fw-bold" style="--bs-body-font-weight: normal;font-size: 2.1rem;">User Management</h3>
                </div>
            </div>

            <div class="col-11 d-flex justify-content-end mt-2"><button class="btn btn-primary" data-bs-target="#myModal" data-bs-toggle="modal"><i class="fas fa-plus-circle    "></i> Add user</button>
            </div>
            <div class="row ">
                <div class="col"></div>
                <div class="col offset-xl-6 py-4 ">
                    <div class="modal fade" role="dialog" tabindex="-1" id="myModal"data-bs-backdrop="static">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Usertype</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center" style="width: 500px; ">
                                    
                                 
                                 
                                    
                                    <form method="POST" >
                                         {% csrf_token %}
                                        {{custom_ucf.as_p}}
                                        
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary">
                                        </div>
                                         
                                      </form>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="container ">
            
            {% block   usermanagement_edit %}
                
            {% endblock %}
            <div class="table-responsive text-center text-dark text-bg-light rounded-2 shadow-sm " style="background: #eeeeee; ">
                <table class="table ">
                    <thead>
                        <tr>
                            <th class="text-light " style="background: #4072C9; ">Firstname</th>
                            <th class="text-light " style="background: #4072C9; ">Lastname</th>
                            <th class="text-light " style="background: #4072C9; ">Role</th>
                            <th class="text-light " style="background: #4072C9; ">Email</th>
                            <th class="text-light " style="background: #4072C9; ">Status</th>
                            <th class="text-light " style="background: #4072C9; ">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for i in users  %}
                      
                            
                        <tr>
                            <td>{{i.first_name}}</td>
                            <td>{{i.last_name}}</td>
                            <td>{{i.role}}</td>
                            <td>{{i.email}}</td>
                            <td>                               
                            {% if i.is_active %}
                                <a href="{% url 'deactivate' i.id %}" class="btn btn-outline-danger" id="deact" >Deactivate</a>
                            {% else %}
                                <a href="{% url 'activate' i.id %}" class="btn btn-outline-success">Activate</a>
                            {% endif %}
                            </td>
                            <td><a href="{%url 'edit' i.id%}" class="btn btn-outline-primary"><i class="fas fa-user-edit"data-bs-toggle="modal" data-bs-target="#modal"></i> Edit</a></td>
                        </tr>
      
                        {% endfor %}
                    </tbody>
                </table>
                

            </div>
        </div>
    </div>

</div><a class="border rounded d-inline scroll-to-top " href="#page-top " style="background: rgb(78,115,223); "><i class="fas fa-angle-up "></i></a>
</div>
<script>
    window.onload = function() {
    var duration = 3000; //2 seconds
    setTimeout(function () {
         $('#alert').hide(); }, duration);
        
};
</script>
<script>
</script>
{% endblock content%}
