{% extends "base.html" %}{% block home %}
<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner " role="listbox">
        <div class="carousel-item active">
            <img src="https://images.pexels.com/photos/7005476/pexels-photo-7005476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 d-block" alt="First slide" height="690px">
            <div class="carousel-caption d-none d-md-block">
                <h3>Sample Tile </h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti maiores, ab doloribus eius sequi amet nulla suscipit officiis illum! Vel.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/6311116/pexels-photo-6311116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 d-block" alt="Second slide" height="690px">

            <div class="carousel-caption d-none d-md-block">
                <h3>Sample Tile</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis accusantium velit voluptatibus similique maxime officiis ratione unde itaque sequi iure.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/7018374/pexels-photo-7018374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 d-block" alt="Third slide" height="690px">
            <div class="carousel-caption d-none d-md-block">
                <h3>Sampl Tile</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptatibus deleniti dolorem debitis inventore ut quibusdam maxime excepturi dolorum est! Nihil a ea odio debitis iure quo, dolor totam magnam.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> {% endblock home %}