<form class="custom-form" method="POST">
    {% csrf_token %}
    <input type="text" name="CustomersName" id="" placeholder="Customers Name">
    <input type="number" name="ContactNumber" id="" placeholder="Customers Number">
    <input type="email" name="CustomersEmail" id="" placeholder="Email">
    <input type="text" name="CustomersAdd" id="" placeholder="Address">
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-outline-primary " type="submit">submit</a>

    <!-- <div class="row form-group" style="margin-bottom: 5px;">
        <div class="col-sm-4 col-lg-6 text-center label-column"></div>
        <div class="col-sm-6 col-lg-12 input-column">
            <input class="form-control form-floating" type="text" name="CustomersName" placeholder="Customers Name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;background: #fff;"></div>
    </div>

    <div class="row form-group" style="margin-bottom: 5px;">
        <div class="col-sm-6 col-lg-12 input-column">
            <input class="form-control form-floating" type="number" name="ContactNumber" placeholder="Contact Number" inputmode="latin-name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;"></div>
    </div>
    <div class="row form-group">
        <div class="col-sm-4 label-column"></div>
        <div class="col-sm-6 col-lg-12 input-column">
            <input class="form-control" type="email" name="CustomersEmail" inputmode="latin-name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;" placeholder="Email">
            <input class="form-control form-floating" type="text" name="CustomersAdd" inputmode="latin-name" style="border-bottom: 3px solid var(--bs-blue);margin-bottom: 10px;padding-top: 5px;padding-bottom: 5px;" placeholder="Address"></div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button> -->
</form>